.hello {
  position: fixed;
  top: 24px;
  right: 0px;
  transition: transform 0.1s ease-in;
  text-align: center;
}

.hello > h2 {
  color: white;
  background: rgb(255, 0, 0);
  padding: 12px;
  border-radius: 4px;
  width: 250px;
  letter-spacing: 1.25px;
}

.hidden {
  transform: translateX(400px);
}
